<article class="{{ if .Params.image }}has-image {{ end }}main-article">
    {{ partial "article/components/header" . }}

    {{ partial "article/components/content" . }}

    {{ partial "article/components/footer" . }}

    {{ if or .Params.math .Site.Params.article.math }}
        {{ partialCached "article/components/math.html" . }}
    {{ end }}
</article>

<div class="donation-main-card">
    <div class="donation-header">
    </div>
    <section class="donation-content">
        <div class="donation-details">
          <h2 class="donation-title">Soutenir le projet</h2>
        </div>
        <div class="donation-subtitle">
          Le financement participatif est ma principale source de revenus. Ce contenu existe et est accessible gratuitement grâce au soutien financier d'une partie de la communauté.
       </div>
    </section>
    <footer class="donation-footer">
        <section class="donation-tags">
            <a target="_blank" href="https://www.kisskissbankbank.com/fr/projects/le-reveilleur">Kiss Kiss Bank Bank</a>
            <a target="_blank" href="https://en.tipeee.com/le-reveilleur">Tipeee</a>
        </section>
    </footer>
</div>
