{:paths ["scripts"]
 :min-bb-version "1.3.0"
 :tasks
 {validate-yaml-data-videos
  {:doc "Validates yaml data for the videos (data/videos.yaml)"
   :requires ([lereveilleur.core :as c])
   :task (c/validate-yaml-data-videos!)}

  download-youtube-thumbnails
  {:doc "Downloads the youtube video thumbnails"
   :requires ([lereveilleur.core :as c])
   :task (c/download-youtube-thumbnails! {:force false})}

  clean-video-posts
  {:doc "Cleans the generated video posts"
   :requires ([lereveilleur.core :as c])
   :task (c/clean-video-posts!)}

  generate-video-posts
  {:doc "Generates the video posts"
   :depends [clean-video-posts
             download-youtube-thumbnails
             validate-yaml-data-videos]
   :requires ([lereveilleur.core :as c])
   :task (c/generate-video-posts!)}

  generate-donors-page
  {:doc "Generates the donors page"
   :requires ([lereveilleur.core :as c])
   :task (c/generate-donors-page!)}}}

